<section class="courses">

    <h1 class="heading">Subjects</h1>
 
    <div class="box-container">
 
       <div class="box">
          
          <div class="thumb">
             <img src="assets/img/physics.jpg" alt="">
             <span>10 videos</span>
          </div>
          <h3 class="title">PHYSICS</h3>
          <a routerLink="/subject-details" class="inline-btn">view playlist</a>
       </div>
 
       <div class="box">
          
          <div class="thumb">
             <img src="assets/img/biology.jpg" alt="">
             <span>10 videos</span>
          </div>
          <h3 class="title">BIOLOGY</h3>
          <a routerLink="/subject-details" class="inline-btn">view playlist</a>
       </div>
 
       <div class="box">
          <div class="thumb">
             <img src="assets/img/geology.jpg" alt="">
             <span>10 videos</span>
          </div>
          <h3 class="title">GEOLOGY</h3>
          <a routerLink="/subject-details" class="inline-btn">view playlist</a>
       </div>
 
       <div class="box">
          <div class="thumb">
             <img src="assets/img/chemestry.jpg" alt="">
             <span>10 videos</span>
          </div>
          <h3 class="title">CHEMISTRY</h3>
          <a routerLink="/subject-details" class="inline-btn">view playlist</a>
       </div>
 
       <div class="box">
          <div class="thumb">
             <img src="assets/img/elective.jpg" alt="">
             <span>10 videos</span>
          </div>
          <h3 class="title">ELECTIVE</h3>
          <a routerLink="/subject-details" class="inline-btn">view playlist</a>
       </div>
 
       <div class="box">
          <div class="thumb">
             <img src="assets/img/astronomy.jpg" alt="">
             <span>10 videos</span>
          </div>
          <h3 class="title">ASTRONOMY</h3>
          <a routerLink="/subject-details" class="inline-btn">view playlist</a>
       </div>
 
    </div>
 
    <div class="more-btn">
       <a href="courses.html" class="inline-option-btn">view all courses</a>
    </div>
 
 </section>